<div class='pizarra'>

    <div *ngFor ="let item of lista">
    
        <div *ngIf = "item.id == [catSelected]" >
            <div *ngFor = "let pict of item.pictogramas">
                <div *ngIf = "pict.idPicto == [pictoSelected]">
                    <img src="../../../assets/pictogramas/{{item.id}}/{{pict.imagen}}" alt="intento numero 1">
                </div>
    
            </div>
    
        </div>    
    </div>
    
<!-- 
    tablero

    (dentro de la etiqueta div con las class pizarra
    cdkDropList
    [cdkDropListData]="listaPict"
    (cdkDropListDropped)="drop($event)")

    <div *ngFor="let item of listaPict" class="example-box" cdkDrag >
        <img src="../../../assets/pictogramas/{{item.idCat}}/{{item.imagen}}" style="height: 150px; width: 150px;">
    </div>
 -->

    
    
</div>


