.contenedor{
    display: flex;
    height: 200px;
    width: 80%;
    margin: 2% 10% 0% 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
}

.pizarra{
    background:white;
    height: 200px;
    width: 90%;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

.pictograma{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    background:white;
    border-radius: 10%;
    margin-left: 10px;
}

.example-box{
    height: 100px;
    width: 100px;
}

.botones{
    height: 200px;
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icono{
    width: 95px;
    height: 95px;
    margin-bottom: 5px;
}
.icono > .imagen_basurero{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: #1b5e20;
}

.icono:active{
    transform: translateY(2px);
}
