<div class='contenedor'>
    <div class="pizarra">
        <div *ngFor="let pict of listaSelect"  class="select">
            <div class="pictograma" (click)="eliminarPict(pict)">
                <img src={{pict.url}} alt="{{pict.nombre}}" class="example-box">
                <p class="nombre_pictograma">{{pict.nombre}}</p>    
            </div>
        </div>
    </div>
    <div class="botones">
        <div (click)="reproducirFrase()" class="icono">
            <img src="../../../assets/icons/picto_escuchar.png" alt="basurero" class="imagen_basurero">
        </div>
        <div (click)="limpiarTablero()" class="icono" >
            <img src="../../../assets/icons/picto_borrar.png" alt="basurero" class="imagen_basurero">
       </div>
    </div>
</div>


