<div class='contenedor'>
    <div class="pizarra"
    mwlDroppable (drop)="onDrop($event)" 
    dragOverClass="drop-over-active">
        <div *ngFor="let pict of listaSelect">
            <div class="pictograma" 
            mwlDraggable
            (dragEnd)="dragEnd($event, pict)"
            [dropData]=pict
            [@pictogramAnimator]="animationState"
            (@pictogramAnimator.done)="resetAnimationState()"
            
            >
                <img src={{pict.url}} alt="{{pict.nombre}}" class="example-box">
                <p class="nombre_pictograma">{{pict.nombre}}</p>    
            </div>
        </div>
    </div>
    <div class="botones">
        <div (click)="reproducirFrase()" class="icono">
            <img src="../../../assets/icons/picto_escuchar.png" alt="basurero" class="imagen_basurero">
        </div>
        <div (click)="limpiarTablero()" class="icono" >
            <img src="../../../assets/icons/picto_borrar.png" alt="basurero" class="imagen_basurero">
       </div>
    </div>
</div>


