<div style="background-color: white;
    height: 100%;
    margin: 0;
    padding-bottom: 20px;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/Tablero">Pictogram Tab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Perfil">Perfil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Frases">Frases <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Agenda">Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/Tablero" class="nav-link" (click)="onLogOut()">Cerrar Sesión <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>




    <div class="container" style="margin-top: 5px;">
        <div class="row" style="align-items: center;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;">
            <div class="col" style="max-width: 250px;
                max-height: 250px;
                min-width: 100px;
                min-height: 100px;
                margin-bottom: 5px;">
                <img class="img-fluid " src="../../../assets/images/552721.png" alt="">
            </div>
            <div class="row">
                <dt class="text-inverse text-right col-4 text-truncate">Nombre</dt>
                <dd class="col-8 text-truncate">{{usuarioTutor.nombre}}</dd>
                <dt class="text-inverse text-right col-4 text-truncate">Apellido</dt>
                <dd class="col-8 text-truncate">{{usuarioTutor.apellido}}</dd>
                <dt class="text-inverse text-right col-4 text-truncate">Correo</dt>
                <dd class="col-8 text-truncate">{{usuarioTutor.correo}}</dd>
            </div>
            <!-- <div class="col" style="display: flex;
            justify-content: center;
            margin-bottom: 5px;">
            <div style="border: 1px solid black;
                border-radius: 5%;">
                <div class="col" style="text-align: center;">
                    Usuario Actual
                </div>
                <div class="col" style="max-width: 150px;
                max-height: 150px;">
                    <img class="img-thumbnail" src="../../../assets/images/552721.png" alt="">
                </div>
            </div>
        </div> -->
        </div>
        <div class="row" style="display: flex;
            justify-content: space-around;
            margin-bottom: 5px;">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal2">
                Cambiar Contraseña
            </button>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal3">
                Crear Nuevo Usuario
            </button>
        </div>


        <div class="accordion" id="accordionExample{{indice}}"  *ngFor="let item of usuarioList;let indice=index" style="margin-bottom: 10px;">
            <div class="card">
                <div class="card-header" id="headingOne" style="background-color: #242a30; color: white;">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" 
                        type="button" data-toggle="collapse" attr.data-target="#collapseOne{{indice}}" 
                        aria-expanded="true" attr.aria-controls="collapseOne{{indice}}"
                        style="color: white;">
                            <b>{{item.nombre}}<span></span> {{item.apellido}}</b>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne{{indice}}" class="collapse" aria-labelledby="headingOne" attr.data-parent="#accordionExample{{indice}}">
                    <div class="card-body" style="background-color: #6c757d;">
                        <div class="row" style="align-items: center;
                            display: flex;
                            justify-content: center;">
                            <div class="col" style="max-width: 150px;
                                max-height: 150px;
                                min-width: 50px;
                                min-height: 50px;
                                margin-bottom: 5px;">
                                <img class="img-thumbnail" src="../../../assets/images/hola.png" alt="">
                            </div>

                            <div class="row" id="pc">
                                <div>
                                    <pre style="font-size: 15px;">
                    <b>Nombre:</b>              {{item.nombre}}
                    <b>Apellido:</b>            {{item.apellido}}
                    <b>Fecha de nacimiento:</b> {{item.fechaDeNacimiento}}
                    <b>Edad:</b>                {{item.edad}}
                                    </pre>
                                </div>
                                
                                <!-- <dt class="text-inverse text-right col-6 text-truncate">Nombre</dt>
                                <dd>{{item.nombre}}</dd>
                                <dt class="text-inverse text-right col-6 text-truncate">Apellido</dt>
                                <dd>{{item.apellido}}</dd>
                                <dt class="text-inverse text-right col-6 text-truncate">Fecha de nacimiento</dt>
                                <dd>{{item.fechaDeNacimiento}}</dd>
                                <dt class="text-inverse text-right col-6 text-truncate">Edad</dt>
                                <dd>{{item.edad}}</dd> -->
                                
                            </div>
                            <div class="row" id="celular">
                                <div>
                                    <pre style="font-size: 15px;">
  <b>Nombre:</b> {{item.nombre}}
  <b>Apellido:</b> {{item.apellido}}
  <b>Fecha de nacimiento:</b> {{item.fechaDeNacimiento}}            
  <b>Edad:</b> {{item.edad}}
                                    </pre>
                                </div>
                                
                                <!-- <dt class="text-inverse text-right col-6 text-truncate">Nombre</dt>
                                <dd>{{item.nombre}}</dd>
                                <dt class="text-inverse text-right col-6 text-truncate">Apellido</dt>
                                <dd>{{item.apellido}}</dd>
                                <dt class="text-inverse text-right col-6 text-truncate">Fecha de nacimiento</dt>
                                <dd>{{item.fechaDeNacimiento}}</dd>
                                <dt class="text-inverse text-right col-6 text-truncate">Edad</dt>
                                <dd>{{item.edad}}</dd> -->
                                
                            </div>
                            <div class="col" style="display: flex;
                                flex-direction: column;
                                align-items: center;">
                                <div class="row">
                                    <button type="button" class="btn btn-link" style="background-color: #242a30;
                                        width: 200px;
                                        margin-bottom: 5px;" data-toggle="modal" data-target="#modal4"
                                        (click)="obtenerIdUsuario(item.idUsuario)" >
                                            Cargar Preferencias
                                    </button>
                                </div>
                                <div class="row">
                                    <button (click)="idUtilizar(item.idUsuario)" type="button" class="btn btn-link" style="background-color: #242a30;
                                        width: 200px;
                                        margin-bottom: 5px;" data-toggle="modal" data-target="#modal1">
                                            Gestionar Tablero
                                    </button>
                                </div>
                                <div class="row">
                                    <button (click)="eliminar(item.idUsuario)" type="button" class="btn btn-link" style="background-color: #242a30;
                                        width: 200px;" data-toggle="modal" data-target="#modal5">
                                            Eliminar Usuario
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" tabindex="-1" id="modal1">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <h2>Gestionar tablero</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="alerta">

                    </div>
                    <div class="col" style="display: flex;
                    flex-direction: column;
                    align-items: center;">
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                        width: 200px;
                        margin-bottom: 5px;" 
                        data-toggle="modal" data-target="#agregarCategoria">
                            Agregar Categoría
                    </button>
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                        width: 200px;
                        margin-bottom: 5px;"
                        data-toggle="modal" data-target="#eliminarCategoria">
                            Eliminar Categoría
                    </button>
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                        width: 200px;
                        margin-bottom: 5px;"
                        data-toggle="modal" data-target="#editarCategoria">
                            Editar Categoría
                    </button>
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                         width: 200px;
                        margin-bottom: 5px;"
                        data-toggle="modal" data-target="#agregarPictograma">
                            Agregar Pictograma
                    </button>
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                        width: 200px;
                        margin-bottom: 5px;"
                        data-toggle="modal" data-target="#eliminarPictograma">
                            Eliminar Pictograma
                    </button>
                    <button type="button" class="btn btn-link" style="background-color: #242a30;
                        width: 200px;
                        margin-bottom: 5px;"
                        data-toggle="modal" data-target="#editarPictograma">
                            Editar Pictograma
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" tabindex="-1" id="modal2">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <h2>Cambiar contraseña</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formulario" class="margin-bottom-0">
                        <label class="control-label">Contraseña <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" formControlName="pass" [(ngModel)]="pass" 
                                class="form-control" placeholder="Contraseña" 
                                required 
                                [ngClass]="(formulario.get('pass').dirty) && 
                                formulario.get('pass').hasError('required') ? 'is-invalid':''  
                                || formulario.get('pass').hasError('minlength') ? 'is-invalid':''
                                ||((formulario.get('pass').touched || formulario.get('pass').dirty)
                                && !formulario.get('pass').invalid) ? 'is-valid':''"
                                />
                                <div class="invalid-feedback">
                                    {{
                                        formulario.get('pass').hasError('required')
                                        ? 'Contraseña es requerida'
                                        :'' 
                                    }}
                                    {{
                                        formulario.get('pass').hasError('minlength')
                                        ? 'La contraseña debe tener mínimo 6 caracteres'
                                        :'' 
                                    }}
                                </div>
                            </div>
                        </div>
                        <label class="control-label">Confirmar Contraseña <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" formControlName="confirmPass" 
                                [(ngModel)]="confirmPass" class="form-control" 
                                placeholder="Confirmar Contraseña" required 
                                [ngClass]="(formulario.get('confirmPass').dirty) && 
                                formulario.get('confirmPass').hasError('required') ? 'is-invalid':''
                                || (formulario.get('confirmPass').value !== formulario.get('pass').value) ? 'is-invalid':''
                                ||((formulario.get('confirmPass').touched || formulario.get('confirmPass').dirty)
                                && !formulario.get('confirmPass').invalid) ? 'is-valid':''
                                "/>
                                <div class="invalid-feedback">
                                    {{
                                        formulario.get('confirmPass').hasError('required')
                                        ? 'Confirmar contraseña es requerida\n'
                                        :'' 
                                    }}
                                    <br>
                                    {{
                                        (formulario.get('confirmPass').value !== formulario.get('pass').value)
                                        ? 'Confirmar contraseña es diferente a la contraseña ingresada'
                                        :'' 
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="register-buttons">
                            <button data-dismiss="modal" type="submit" [disabled]="!formulario.valid" (click)="validarDatos()" class="btn btn-primary btn-block btn-lg">Cambiar Contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="modal3">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <h2>Crear nuevo usuario</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formularioUsuario" class="margin-bottom-0">
                        <label class="control-label">Nombre <span class="text-danger">*</span></label>
                        <div class="row row-space-10">
                            <div class="col-md-6 m-b-15">
                                <input type="text" formControlName="nombre" 
                                [(ngModel)]="nombre" class="form-control" 
                                placeholder="Nombre" 
                                required
                                [ngClass]="(formularioUsuario.get('nombre').dirty) && 
                                formularioUsuario.get('nombre').hasError('required') ? 'is-invalid':''  
                                || formularioUsuario.get('nombre').hasError('pattern') ? 'is-invalid':''
                                || formularioUsuario.get('nombre').hasError('maxlength') ? 'is-invalid':''
                                ||((formularioUsuario.get('nombre').touched || formularioUsuario.get('nombre').dirty)
                                && !formularioUsuario.get('nombre').invalid) ? 'is-valid':''
                                "/>
                                <div class="invalid-feedback">
                                    {{
                                        formularioUsuario.get('nombre').hasError('required')
                                        ? 'Nombre es requerido'
                                        :'' 
                                    }}
                                    {{
                                        formularioUsuario.get('nombre').hasError('pattern')
                                        ? 'Nombre ingresado no es valido'
                                        :'' 
                                    }}
                                    {{
                                        formularioUsuario.get('nombre').hasError('maxlength')
                                        ? 'Nombre ingresado debe tener menos de 30 letras'
                                        :'' 
                                    }}
                                </div>
                            </div>
                            <div class="col-md-6 m-b-15">
                                <input type="text" class="form-control" 
                                formControlName="apellido" [(ngModel)]="apellido" 
                                placeholder="Apellido" required 
                                [ngClass]="(formularioUsuario.get('apellido').dirty) && 
                                formularioUsuario.get('apellido').hasError('required') ? 'is-invalid':''  
                                || formularioUsuario.get('apellido').hasError('pattern') ? 'is-invalid':''
                                || formularioUsuario.get('apellido').hasError('maxlength') ? 'is-invalid':''
                                ||((formularioUsuario.get('apellido').touched || formularioUsuario.get('apellido').dirty)
                                && !formularioUsuario.get('apellido').invalid) ? 'is-valid':''
                                "/>
                                <div class="invalid-feedback">
                                    {{
                                        formularioUsuario.get('apellido').hasError('required')
                                        ? 'Apellido es requerido'
                                        :'' 
                                    }}
                                    {{
                                        formularioUsuario.get('apellido').hasError('pattern')
                                        ? 'Apellido ingresado no es valido'
                                        :'' 
                                    }}
                                    {{
                                        formularioUsuario.get('apellido').hasError('maxlength')
                                        ? 'Apellido ingresado debe tener menos de 30 letras'
                                        :'' 
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-date-input" class="col-2 col-form-label">Fecha de Nacimiento</label>
                            <div class="col-10">
                              <input class="form-control" formControlName="fecha"
                              [(ngModel)]="fecha" type="date" value="" id="example-date-input" 
                              required
                              [ngClass]="(formularioUsuario.get('fecha').dirty) && 
                                formularioUsuario.get('fecha').hasError('required') ? 'is-invalid':''
                                ||((formularioUsuario.get('fecha').touched || formularioUsuario.get('fecha').dirty)
                                && !formularioUsuario.get('fecha').invalid) ? 'is-valid':''
                                ">
                                <div class="invalid-feedback">
                                    {{
                                        formularioUsuario.get('fecha').hasError('required')
                                        ? 'Fecha de nacimiento es requerido'
                                        :'' 
                                    }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="register-buttons">
                            <button type="submit" [disabled]="!formularioUsuario.valid" (click)="crearUsuario()" class="btn btn-primary btn-block btn-lg" data-dismiss="modal">Crear Usuario</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" tabindex="-1" id="modal4">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <h2>Cargar preferencias</h2>
                </div>
                <div class="modal-body">
                    ¿Desea cargar las preferencias de este usuario?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="cargarPreferencias(true)">Si</button>
                    <button class="btn btn-danger" data-dismiss="modal" (click)="cargarPreferencias(false)">No</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="modal5">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <h2>Eliminar usuario</h2>
                </div>
                <div class="modal-body">
                    ¿Desea eliminar este Usuario?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="eliminarUsuario()">Si</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="agregarCategoria">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <h2>Agregar Categoria</h2>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formularioCategoria" class="margin-bottom-0">
                        <div class="form-group row">
                          <label for="nombreCategoria" class="col-sm-2 col-form-label">Nombre</label>
                          <div class="col-sm-10">
                            <input type="nombreCategoria" class="form-control" 
                            formControlName="nombreCategoria" [(ngModel)]="nombreCategoria" 
                            id="nombreCategoria" placeholder="Nombre Categoria" 
                            required
                            
                            [ngClass]="(formularioCategoria.get('nombreCategoria').dirty) && 
                            formularioCategoria.get('nombreCategoria').hasError('required') ? 'is-invalid':''
                                || formularioCategoria.get('nombreCategoria').hasError('maxlength') ? 'is-invalid':''
                                ||((formularioCategoria.get('nombreCategoria').touched || formularioCategoria.get('nombreCategoria').dirty)
                                && !formularioCategoria.get('nombreCategoria').invalid) ? 'is-valid':''
                            "/>
                            <div class="invalid-feedback">
                                {{
                                    formularioCategoria.get('nombreCategoria').hasError('required')
                                    ? 'Nombre es requerido'
                                    :'' 
                                }}
                                {{
                                    formularioCategoria.get('nombreCategoria').hasError('maxlength')
                                    ? 'Nombre ingresado debe tener menos de 30 caracteres'
                                    :'' 
                                }}
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <h3>Seleccionar imagen</h3>
                            <input type="file" accept=".jpg, .png" (change)= "seleccionarImagen($event)" 
                            formControlName="imagenCategoria" [(ngModel)]="imagenCategoria" 
                            required>
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="subirImagen()" [disabled]="!formularioCategoria.valid" data-dismiss="modal" >Si</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="agregarPictograma">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <h2>Agregar Pictograma</h2>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formularioPictograma" class="margin-bottom-0">
                        <div class="form-group">
                            <label for="categoriaSeleccionada">Seleccionar Categoria</label>
                            <select class="form-control" id="categoriaSeleccionada" 
                            formControlName="categoriaImagenPictograma" [(ngModel)]="categoriaImagenPictograma"
                            required>
                                <option value="" (click)="seleccionarCategoria(null)"></option>
                                <option *ngFor="let categoria of listaCategoria" (click)="seleccionarCategoria(categoria)" >{{categoria.nombre}}</option>
                            </select>
                          </div>
                        <div class="form-group row">
                          <label for="nombrePictograma" class="col-sm-2 col-form-label">Nombre</label>
                          <div class="col-sm-10">
                            <input type="nombrePictograma" class="form-control" 
                            formControlName="nombrePictograma" 
                            [(ngModel)]="nombrePictograma" id="nombrePictograma" 
                            placeholder="Nombre Pictograma" required
                            [ngClass]="(formularioPictograma.get('nombrePictograma').dirty) && 
                            formularioPictograma.get('nombrePictograma').hasError('required') ? 'is-invalid':''
                                || formularioPictograma.get('nombrePictograma').hasError('maxlength') ? 'is-invalid':''
                                ||((formularioPictograma.get('nombrePictograma').touched || formularioPictograma.get('nombrePictograma').dirty)
                                && !formularioPictograma.get('nombrePictograma').invalid) ? 'is-valid':''
                            "/>
                            <div class="invalid-feedback">
                                {{
                                    formularioPictograma.get('nombrePictograma').hasError('required')
                                    ? 'Nombre es requerido'
                                    :'' 
                                }}
                                {{
                                    formularioPictograma.get('nombrePictograma').hasError('maxlength')
                                    ? 'Nombre ingresado debe tener menos de 30 caracteres'
                                    :'' 
                                }}
                            </div>

                          </div>
                        </div>
                        <div class="form-group">
                            <h3>Seleccionar imagen</h3>
                            <input type="file" accept=".jpg, .png" (change)= "seleccionarImagen($event)"
                            formControlName="imagenPictograma" [(ngModel)]="imagenPictograma"
                            required/>
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="subirImagenPictograma()" [disabled]="!formularioPictograma.valid" data-dismiss="modal" >Si</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="eliminarCategoria">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <h2>Eliminar Categoria</h2>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formularioEliminarCategoria" class="margin-bottom-0">
                        <div class="form-group">
                            <label for="nombreEliminarCategoria">Seleccionar Categoria</label>
                                <select class="form-control" id="nombreEliminarCategoria"
                                formControlName="nombreEliminarCategoria" [(ngModel)]="nombreEliminarCategoria"
                                required>
                                    <option value="" (click)="seleccionarEliminarCategoria(null)"></option>
                                    <option *ngFor="let categoria of listaCategoria" (click)="seleccionarEliminarCategoria(categoria)">
                                        {{categoria.nombre}}
                                    </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="eliminarCategoria()">Si</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="eliminarPictograma">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <h2>Eliminar Pictograma</h2>
                </div>
                <div class="modal-body">
                    <form action="">
                        <label for="catSeleccionada">Seleccionar Categoria</label>
                        <select class="form-control" id="catSeleccionada">
                            <option value="" (click)="seleccionarEliminarCatPictograma(null)"></option>
                            <option *ngFor="let categoria of listaCategoria" (click)="seleccionarEliminarCatPictograma(categoria)">
                                {{categoria.nombre}}
                            </option>
                        </select>
                        <label for="pictSeleccionado">Seleccionar Pictograma</label>
                        <select class="form-control" id="pictSeleccionado">
                            <option value="" (click)="seleccionarEliminarPictograma(null)"></option>
                            <option *ngFor="let pictograma of listaPictograma" (click)="seleccionarEliminarPictograma(pictograma)">
                                {{pictograma.nombre}}
                            </option>
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="eliminarPictogrma()">Si</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="editarCategoria">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                   <h2>Editar Categoria</h2>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formularioEditarCategoria" class="margin-bottom-0">
                        <div class="form-group">
                            <label for="seleccionarCatEdit">Seleccionar Categoria</label>
                            <select class="form-control" id="seleccionarCatEdit" 
                            formControlName="seleccionarEditarCategoria" [(ngModel)]="seleccionarEditarCategoria"
                            required>
                                <option value="" (click)="seleccionarCategoriaEditar(null)"></option>
                                <option *ngFor="let categoria of listaCategoria" (click)="seleccionarCategoriaEditar(categoria)" >{{categoria.nombre}}</option>
                            </select>
                          </div>
                        <div class="form-group row">
                          <label for="nuevoNombreCategoria" class="col-sm-2 col-form-label">Nuevo Nombre</label>
                          <div class="col-sm-10">
                            <input type="nuevoNombreCategoria" class="form-control" 
                            formControlName="nuevoNombreCategoria" 
                            [(ngModel)]="nuevoNombreCategoria" id="nuevoNombreCategoria" 
                            placeholder="Nombre Categoria" 
                            required
                            [ngClass]="(formularioEditarCategoria.get('nuevoNombreCategoria').dirty) && 
                            formularioEditarCategoria.get('nuevoNombreCategoria').hasError('required') ? 'is-invalid':''
                                || formularioEditarCategoria.get('nuevoNombreCategoria').hasError('maxlength') ? 'is-invalid':''
                                ||((formularioEditarCategoria.get('nuevoNombreCategoria').touched || formularioEditarCategoria.get('nuevoNombreCategoria').dirty)
                                && !formularioEditarCategoria.get('nuevoNombreCategoria').invalid) ? 'is-valid':''
                            "/>
                            <div class="invalid-feedback">
                                {{
                                    formularioEditarCategoria.get('nuevoNombreCategoria').hasError('required')
                                    ? 'Nombre es requerido'
                                    :'' 
                                }}
                                {{
                                    formularioEditarCategoria.get('nuevoNombreCategoria').hasError('maxlength')
                                    ? 'Nombre ingresado debe tener menos de 30 letras'
                                    :'' 
                                }}
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <h3>Seleccionar nueva imagen</h3>
                            <input type="file" accept=".jpg, .png" (change)= "seleccionarImagen($event)"
                            formControlName="imagenEditarCategoria" [(ngModel)]="imagenEditarCategoria"
                            required/>
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="subirImagenEditarCategoria()" [disabled]="!formularioEditarCategoria.valid" data-dismiss="modal" >Si</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div> 
    </div> 

        <div class="modal fade" tabindex="-1" id="editarPictograma">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content" style="background-color:#e0e0e0 ;">
                    <div class="modal-header">
                        <h2>Editar Pictograma</h2>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formularioEditarPictograma" class="margin-bottom-0">
                            <div class="form-group">
                                <label for="seleccionarCategoriaEdit">Seleccionar Categoria</label>
                                <select class="form-control" id="seleccionarCategoriaEdit" 
                                formControlName="editarCatPictograma" [(ngModel)]="editarCatPictograma"
                                required>
                                    <option value="" (click)="seleccionarEditarCatPictograma(null)"></option>
                                    <option *ngFor="let categoria of listaCategoria" (click)="seleccionarEditarCatPictograma(categoria)" >{{categoria.nombre}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="seleccionarPictogramaEditar">Seleccionar Pictograma</label>
                                <select class="form-control" id="seleccionarPictogramaEditar"
                                formControlName="editarPicto" [(ngModel)]="editarPicto"
                                required>
                                <option value="" (click)="seleccionarEditarPictograma(null)"></option>
                                <option *ngFor="let pictograma of listaPictogramaEditar" (click)="seleccionarEditarPictograma(pictograma)">
                                    {{pictograma.nombre}}
                                </option>
                            </select>
                            </div>
                            <div class="form-group row">
                              <label for="nuevoNombrePictograma" class="col-sm-4 col-form-label">Nuevo Nombre</label><br>
                              <div class="col-sm-10">
                                <input type="nuevoNombrePictograma" class="form-control" 
                                formControlName="nuevoNombrePictograma" [(ngModel)]="nuevoNombrePictograma" 
                                id="nuevoNombrePictograma" placeholder="Nombre Pictograma" 
                                required
                                [ngClass]="(formularioEditarPictograma.get('nuevoNombrePictograma').dirty) && 
                                    formularioEditarPictograma.get('nuevoNombrePictograma').hasError('required') ? 'is-invalid':''
                                    || formularioEditarPictograma.get('nuevoNombrePictograma').hasError('maxlength') ? 'is-invalid':''
                                    ||((formularioEditarPictograma.get('nuevoNombrePictograma').touched || formularioEditarPictograma.get('nuevoNombrePictograma').dirty)
                                    && !formularioEditarPictograma.get('nuevoNombrePictograma').invalid) ? 'is-valid':''
                                "/>
                                <div class="invalid-feedback">
                                    {{
                                        formularioEditarPictograma.get('nuevoNombrePictograma').hasError('required')
                                        ? 'Nombre es requerido'
                                        :'' 
                                    }}
                                    {{
                                        formularioEditarPictograma.get('nuevoNombrePictograma').hasError('maxlength')
                                        ? 'Nombre ingresado debe tener menos de 30 letras'
                                        :'' 
                                    }}
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <h3>Seleccionar nueva imagen</h3>
                                <input type="file" accept=".jpg, .png" (change)= "seleccionarImagen($event)"
                                formControlName="imagenEditarPictograma" [(ngModel)]="imagenEditarPictograma"
                                required/>
                            </div>
                          </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" (click)="subirImagenEditarPictograma()" [disabled]="!formularioEditarPictograma.valid" data-dismiss="modal" >Si</button>
                        <button class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>


</div>