<div style="background-color: #e0e0e0;
    height: 100%;
    margin: 0;
    padding-bottom: 20px;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/Tablero">Pictogram Tab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Perfil">Perfil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Frases">Frases <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Agenda">Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/Tablero" class="nav-link" (click)="onLogOut()">Cerrar Sesión <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>




    <div class="container" style="margin-top: 5px;">
        <div class="row" style="align-items: center;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;">
            <div class="col" style="max-width: 250px;
                max-height: 250px;
                min-width: 100px;
                min-height: 100px;
                margin-bottom: 5px;">
                <img class="img-thumbnail" src="../../../assets/images/552721.png" alt="">
            </div>
            <div class="row">
                <dt class="text-inverse text-right col-4 text-truncate">Nombre</dt>
                <dd class="col-8 text-truncate">Marcelo Alexander</dd>
                <dt class="text-inverse text-right col-4 text-truncate">Apellido</dt>
                <dd class="col-8 text-truncate">Lizardi Castro</dd>
                <dt class="text-inverse text-right col-4 text-truncate">Correo</dt>
                <dd class="col-8 text-truncate">marcelolizardi18@gmail.com</dd>
            </div>
            <!-- <div class="col" style="display: flex;
            justify-content: center;
            margin-bottom: 5px;">
            <div style="border: 1px solid black;
                border-radius: 5%;">
                <div class="col" style="text-align: center;">
                    Usuario Actual
                </div>
                <div class="col" style="max-width: 150px;
                max-height: 150px;">
                    <img class="img-thumbnail" src="../../../assets/images/552721.png" alt="">
                </div>
            </div>
        </div> -->
        </div>
        <div class="row" style="display: flex;
            justify-content: space-around;
            margin-bottom: 5px;">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal2">
                Cambiar Contraseña
            </button>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal3">
                Crear Nuevo Usuario
            </button>
        </div>


        <div class="accordion" id="accordionExample{{indice}}"  *ngFor="let item of usuarioList;let indice=index" style="margin-bottom: 10px;">
            <div class="card">
                <div class="card-header" id="headingOne" style="background-color: #242a30; color: white;">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" attr.data-target="#collapseOne{{indice}}" aria-expanded="true" attr.aria-controls="collapseOne{{indice}}">
                    Usuario {{indice +1}}
                </button>
                    </h2>
                </div>

                <div id="collapseOne{{indice}}" class="collapse show" aria-labelledby="headingOne" attr.data-parent="#accordionExample{{indice}}">
                    <div class="card-body" style="background-color: #6c757d;">
                        <div class="row" style="align-items: center;
                    display: flex;
                    justify-content: center;">
                            <div class="col" style="max-width: 150px;
                        max-height: 150px;
                        min-width: 50px;
                        min-height: 50px;
                        margin-bottom: 5px;">
                                <img class="img-thumbnail" src="../../../assets/icons/estrella.jpg" alt="">
                            </div>

                            <div class="row">
                                <dt class="text-inverse text-right col-6 text-truncate">Nombre</dt>
                                <dd>{{item.nombre}}</dd>
                                <dt class="text-inverse text-right col-6 text-truncate">Apellido</dt>
                                <dd>{{item.apellido}}</dd>
                                <dt class="text-inverse text-right col-6 text-truncate">Fecha de nacimiento</dt>
                                <dd>{{item.fechaDeNacimiento}}</dd>
                                <dt class="text-inverse text-right col-6 text-truncate">Edad</dt>
                                <dd>{{item.edad}}</dd>
                            </div>
                            <div class="col" style="display: flex;
                        flex-direction: column;
                        align-items: center;">
                                <div class="row">
                                    <button type="button" class="btn btn-link" style="background-color: #242a30;
                                width: 200px;
                                margin-bottom: 5px;" data-toggle="modal" data-target="#modal4">
                                    Cargar Preferencias
                            </button>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-link" style="background-color: #242a30;
                                width: 200px;
                                margin-bottom: 5px;" data-toggle="modal" data-target="#modal1">
                                    Gestionar Tablero
                                </button>
                                </div>
                                <div class="row">
                                    <button (click)="eliminar(item.idUsuario)" type="button" class="btn btn-link" style="background-color: #242a30;
                                width: 200px;" data-toggle="modal" data-target="#modal5">
                                    Eliminar Usuario
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#modal1').modal({
                backdrop: 'static',
                keyboard: false,
                focus: false,
                show: false
            });
        });
    </script>

    <div class="modal fade" tabindex="-1" id="modal1">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col" style="display: flex;
                    flex-direction: column;
                    align-items: center;">
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                        width: 200px;
                        margin-bottom: 5px;">
                            Agregar Categoría
                    </button>
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                        width: 200px;
                        margin-bottom: 5px;">
                            Eliminar Categoría
                    </button>
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                        width: 200px;
                        margin-bottom: 5px;">
                            Editar Categoría
                    </button>
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                         width: 200px;
                        margin-bottom: 5px;">
                            Agregar Pictograma
                    </button>
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                        width: 200px;
                        margin-bottom: 5px;">
                            Eliminar Pictograma
                    </button>
                        <button type="button" class="btn btn-link" style="background-color: #242a30;
                        width: 200px;
                        margin-bottom: 5px;">
                            Editar Pictograma
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" tabindex="-1" id="modal2">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formulario" class="margin-bottom-0">
                        <label class="control-label">Contraseña <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" formControlName="pass" [(ngModel)]="pass" class="form-control" placeholder="Contraseña" required />
                            </div>
                        </div>
                        <label class="control-label">Confirmar Contraseña <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" formControlName="confirmPass" [(ngModel)]="confirmPass" class="form-control" placeholder="Confirmar Contraseña" required />
                            </div>
                        </div>
                        <div class="register-buttons">
                            <button data-dismiss="modal" type="submit" [disabled]="!formulario.valid" (click)="validarDatos()" class="btn btn-primary btn-block btn-lg">Cambiar Contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="modal3">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formularioUsuario" class="margin-bottom-0">
                        <label class="control-label">Nombre <span class="text-danger">*</span></label>
                        <div class="row row-space-10">
                            <div class="col-md-6 m-b-15">
                                <input type="text" formControlName="nombre" [(ngModel)]="nombre" class="form-control" placeholder="Nombre" />
                            </div>
                            <div class="col-md-6 m-b-15">
                                <input type="text" class="form-control" formControlName="apellido" [(ngModel)]="apellido" placeholder="Apellido" required />
                            </div>
                        </div>
                        <label class="control-label">Edad <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-2">
                                <input type="text" formControlName="edad" [(ngModel)]="edad" class="form-control" placeholder="Edad" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-date-input" class="col-2 col-form-label">Fecha</label>
                            <div class="col-10">
                              <input class="form-control" formControlName="fecha" [(ngModel)]="fecha" type="date" value="" id="example-date-input" required>
                            </div>
                        </div>
                        
                        <div class="register-buttons">
                            <button type="submit" [disabled]="!formularioUsuario.valid" (click)="crearUsuario()" class="btn btn-primary btn-block btn-lg" data-dismiss="modal">Crear Usuario</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" tabindex="-1" id="modal4">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    ¿Desea cargar las preferencias de este usuario?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="cargarPreferencias()">Si</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="modal5">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0 ;">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    ¿Desea eliminar este Usuario?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="eliminarUsuario()">Si</button>
                    <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>