
<div class="container">
    <div class="row" style="background: red;
    align-items: center;">
        <div class="col"  style="max-width: 250px;
        max-height: 250px;
        background: blue;">
            <img class="img-thumbnail" src="../../../assets/icons/estrella.jpg" alt="">
        </div>
        <div class="col" style="background: yellow;">
            <b>Nombre</b>: <span class="container" style="background: grey;">Marcelo</span><br>
            <b>Apellido</b>: <span class="container" style="background: grey;">Lizardi</span><br>
            <b>Correo</b>: <span class="container" style="background: grey;">Marcelolizardi18@gmail.com</span>
        </div>
    </div>
</div>
