:host{
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock{
    text-align: center;
    display: grid;
    grid: 50% 50%;
    justify-content: right;    
    font-size: 100%;
    color: #fff;
    text-transform: uppercase;
}

.dateTitle{
    font-size: 100%;

}

.digitalTime{
    display: flex;
}

.ampm{
    font-size: 100%;
}