<app-navegacion></app-navegacion>
<div class="p-3 mb-2 bg-light text-dark" style="display: flex;" >
    <h1> Bienvenido 'Nombre_Usuario'!!</h1>
    <img src="../../../assets/images/552721.png" alt="">

    
</div>


<div class="p-3 mb-2 bg-light text-dark" 
style="display: grid; grid-template-columns: 20% 80%;"
>
    <app-menu-categoria class="menu" (messageEvent)="receiveMessage($event)"></app-menu-categoria>
    <div>
        <app-contenedor class="pizarra" [catSelected] = "catSelectedAux" [pictoSelected]="pictSelected" ></app-contenedor>
        <app-selector-imagenes class="picto" [catSelected] = "catSelectedAux" (messageEvent)="recivirMensajePicto($event)"></app-selector-imagenes>
    </div>
</div>


<div *ngFor ="let item of lista">
    
    <div *ngIf = "item.id == [catSelectedAux]" >
        <div *ngFor = "let pict of item.pictogramas">
            <div *ngIf = "pict.idPicto == [pictSelected]">
                <img src="../../../assets/pictogramas/{{item.id}}/{{pict.imagen}}" alt="intento numero 1">
            </div>

        </div>

    </div>    
</div>







