<app-navegacion></app-navegacion>

<div class="home">


<div class="contenedor_selector" >
    <app-menu-categoria class="menu" (messageEvent)="receiveMessage($event)"></app-menu-categoria>
    <div>
        <app-contenedor class="pizarra" [catSelected] = "catSelectedAux" [pictoSelected]="pictSelected"  (messageEvent)="recivirMensajeListaPicto($event)"></app-contenedor>
        <app-selector-imagenes class="picto" [catSelected] = "catSelectedAux" (messageEvent)="recivirMensajePicto($event)"></app-selector-imagenes>
    </div>
</div>

<app-perfil [listaSeleccionada] = "listaSelected" ></app-perfil>
</div>









