div.bienvenida{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #7C7D6E;
}

div > img{
    width: 50px;
    height: 50px;
}

.center_space{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background: #7C7D6E;
}

.menu{
    grid-column: 1;
    grid-row: 1 / 2;
}

.pizarra{
    grid-column: 2 / 6;
    grid-row: 1;
}

.picto{
    grid-column: 2 / 6;
    grid-row: 2;
}