<!-- begin login -->
<div class="login login-with-news-feed" >
     
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../../../assets/images/PICTOGRAMAS_AUTISMO-removebg-preview-removebg-preview.png);
        background-color: #4dd0e1;"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>Pictogram</b> Tab</h4>
            <p>
                Tablero enfocado en el desarrollo comunicacional
            </p>
        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                <h1>Si quieres ocupar el tablero sin registrarte, presiona <a routerLink="/Tablero" class="text-success">aquí</a></h1> 
                <a routerLink="/Tablero" class="text-success">
                    <img src="../../../assets/images/Picto_banner_v2.png" alt="" class="img-fluid">
                </a>
                <br>
                <br>
                <!-- <span class="logo"></span> --> <b>Iniciar sesión</b><p></p>
                <small>Completar correctamente los campos para entrar a la aplicación con su cuenta</small>
            </div>
            <!-- <div class="icon">
                <i class="fa fa-sign-in"></i>
            </div> -->
        </div>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div id="alerta">
        </div>
        <div class="login-content">
            <form [formGroup]="formulario" class="margin-bottom-0">
                <div class="form-group m-b-15">
                    <input type="text" formControlName="email" 
                    [(ngModel)]="email" 
                    class="form-control form-control-lg" 
                    placeholder="Dirección Email" required
                    [ngClass]="(formulario.get('email').dirty) && 
                                formulario.get('email').hasError('required') ? 'is-invalid':''  
                                || formulario.get('email').hasError('pattern') ? 'is-invalid':''
                                ||((formulario.get('email').touched || formulario.get('email').dirty)
                                && !formulario.get('email').invalid) ? 'is-valid':''
                                "/>
                    <div class="invalid-feedback">
                        {{
                            formulario.get('email').hasError('required')
                            ? 'Email es requerido'
                            :'' 
                        }}
                        {{
                            formulario.get('email').hasError('pattern')
                            ? 'Email ingresado no es valido'
                            :'' 
                        }}
                    </div>
                </div>
                <div class="form-group m-b-15">
                    <input type="password" formControlName="password" [(ngModel)]="password" 
                    class="form-control form-control-lg" placeholder="Contraseña" required
                    [ngClass]="(formulario.get('password').dirty ) && 
                                formulario.get('password').hasError('required') ? 'is-invalid':'' 
                                || formulario.get('password').hasError('minlength') ? 'is-invalid':''
                                ||((formulario.get('password').touched || formulario.get('password').dirty)
                                && !formulario.get('password').invalid) ? 'is-valid':''
                                "/>
                    <div class="invalid-feedback">
                        {{
                            formulario.get('password').hasError('minlength')
                            ? "Largo de la contraseña debe tener minimo 6 caracteres"
                            :'' 
                        }}
                        {{
                            formulario.get('password').hasError('required')
                            ? 'Contraseña es requerida'
                            :'' 
                        }}
                        
                    </div>
                </div>
                <!-- <div class="checkbox checkbox-css m-b-30">
                  <input type="checkbox" id="remember_me_checkbox" value="" />
                  <label for="remember_me_checkbox">
                    Recordarme
                  </label>
                </div> -->
                <div class="login-buttons">
                    <button type="submit" [disabled]="!formulario.valid" (click)="loggearse()" class="btn btn-success btn-block btn-lg">Iniciar sesión</button>
                </div>
                <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                    Si no tienes una cuenta todavia, has click <a routerLink="/Register" class="text-success">aquí</a> para registrarte.
                </div>
                <hr />
                <!-- <p class="text-center text-grey-darker">
                    &copy; Color Admin All Right Reserved 2018
                </p> -->
            </form>
        </div>
       <!--  <div class="m-t-20 m-b-40 p-b-40 text-inverse" style="text-align: center;">
            <a routerLink="/Register">Registrarse</a>
        </div> -->
        <!-- end login-content -->
    </div>
    <!-- end right-container -->
</div>
<!-- end login -->
