<!-- begin login -->
<div class="login login-with-news-feed" >
     
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../../../assets/images/PICTOGRAMAS_AUTISMO-removebg-preview.png);
        background-color: #4dd0e1;"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>Pictogram</b> Tab</h4>
            <p>
                Tablero enfocado en el desarrollo comunicacional
            </p>
        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                <!-- <span class="logo"></span> --> <b>Iniciar sesión</b><p></p>
                <small>Completar correctamente los campos para entrar a la aplicación con su cuenta</small>
            </div>
            <!-- <div class="icon">
                <i class="fa fa-sign-in"></i>
            </div> -->
        </div>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
            <ngx-auth-firebaseui-login [providers]="[]"
                                       [appearance]="'outline'" 
                                       [titleText]="''" 
                                       [rememberMeText]="'Recuerdame'" 
                                       [loginButtonText]="'Iniciar sesión'" 
                                       [orLabelText]="'Ó'" 
                                       [forgotPasswordText]="'¿Olvidó su contraseña?'" 
                                       [emailText]="'Email'"
                                       [emailErrorRequiredText]="'Email es requerido'" 
                                       [emailErrorPatternText]="'Porfavor, ingresa un email válido'" 
                                       [passwordText]="'Contraseña'" 
                                       [passwordErrorRequiredText]="'La contraseña es requerida'" 
                                       (onSuccess)="onSuccess()" 
                                       [messageOnAuthError]="'El email o contraseña ingresados son incorrectos'"
                                       [registrationEnabled]="false" 
                                       [resetPasswordEnabled]="true" 
                                       (onResetPasswordRequested)="onResetPasswordRequested()">

            </ngx-auth-firebaseui-login>
        </div>
        <div class="m-t-20 m-b-40 p-b-40 text-inverse" style="text-align: center;">
            <a routerLink="/Register">Registrarse</a>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end right-container -->
</div>
<!-- end login -->
