<!-- begin login -->
<div class="login login-with-news-feed" style="background-image: url(../../../assets/images/Fay\ -\ Antarctic\ Moans\ \(40\).jpg);
     background-repeat: no-repeat, repeat;
     background-size: cover;">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>Tablero</b> Pictograma</h4>
        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                <span class="logo"></span> <b>Tablero</b> Pictograma
                <small>Tablero enfocado en el desarrollo comunicacional</small>
            </div>
            <div class="icon">
                <i class="fa fa-sign-in"></i>
            </div>
        </div>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
            <ngx-auth-firebaseui-login [providers]="[]" [appearance]="'outline'" [titleText]="'Inicia sesión'" [rememberMeText]="'Recuerdame'" [loginButtonText]="'Iniciar sesión'" [orLabelText]="'Ó'" [forgotPasswordText]="'¿Olvidó su contraseña?'" [emailText]="'Email'"
                [emailErrorRequiredText]="'Email es requerido'" [emailErrorPatternText]="'Porfavor, ingresa un email válido'" [passwordText]="'Contraseña'" [passwordErrorRequiredText]="'La contraseña es requerida'" (onSuccess)="onSuccess()" [messageOnAuthError]="'El email o contraseña ingresados son incorrectos'"
                [registrationEnabled]="false" [resetPasswordEnabled]="true" (onResetPasswordRequested)="onResetPasswordRequested()">

            </ngx-auth-firebaseui-login>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end right-container -->
</div>
<!-- end login -->