.contenedor{
    display: flex;
    background: #e1bee7;
    height: 100px;
    width: 700px;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
}

#lunes{
    width: 100px;
    height: 100%;
    font-size: 75px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
}

 #martes{
    width: 100px;
    height: 100%;
    font-size: 75px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
}

#miercoles{
    width: 100px;
    height: 100%;
    font-size: 75px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
}

#jueves{
    width: 100px;
    height: 100%;
    font-size: 75px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
}

#viernes{
    width: 100px;
    height: 100%;
    font-size: 75px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
}

#sabado{
    width: 100px;
    height: 100%;
    font-size: 75px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
}

#domingo{
    width: 100px;
    height: 100%;
    font-size: 75px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
}