<div class="contenedor">
    <div id="lunes">L</div>
    <div id="martes">M</div>
    <div id="miercoles">X</div>
    <div id="jueves">J</div>
    <div id="viernes">V</div>
    <div id="sabado">S</div>
    <div id="domingo">D</div>

    <!-- Lunes -->
    <div class="modal fade" tabindex="-1" id="modal1" *ngIf="day == 'Lunes'">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#90caf9;">
                <div class="modal-header">
                    <h2>Lunes</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let item of listaAgenda">
                        <div *ngIf="item.day === 1" style="display: flex; width: 80%; margin: 0 10%; height: auto;
                            padding: 5px 10px; background: #90caf9;">
                            <div style="width: 50%;">
                                <b>{{item.nombrePicto}}</b>
                                <p>{{item.start.substring(0,5)}}</p>
                            </div>
                            <img class="img-fluid" style="max-width: 100px; height: auto;" src={{item.urlPicto}} alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Martes -->
    <div class="modal fade" tabindex="-1" id="modal2" *ngIf="day == 'Martes'">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#90caf9;">
                <div class="modal-header">
                    <h2>Martes</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let item of listaAgenda" >
                        <div *ngIf="item.day === 2" style="display: flex; width: 80%; margin: 0 10%; height: auto;
                            padding: 5px 10px; background: #90caf9;">
                            <div style="width: 50%;">
                                <b>{{item.nombrePicto}}</b>
                                <p>{{item.start.substring(0,5)}}</p>
                            </div>
                            <img class="img-fluid" style="max-width: 100px; height: auto;" src={{item.urlPicto}} alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Miercoles -->
    <div class="modal fade" tabindex="-1" id="modal3" *ngIf="day == 'Miercoles'">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#90caf9;">
                <div class="modal-header">
                    <h2>Miercoles</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let item of listaAgenda">
                        <div *ngIf="item.day === 3" style="display: flex; width: 80%; margin: 0 10%; height: auto;
                            padding: 5px 10px; background: #90caf9;">
                            <div style="width: 50%;">
                                <b>{{item.nombrePicto}}</b>
                                <p>{{item.start.substring(0,5)}}</p>
                            </div>
                            <img class="img-fluid" style="max-width: 100px; height: auto;" src={{item.urlPicto}} alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jueves -->
    <div class="modal fade" tabindex="-1" id="modal4" *ngIf="day == 'Jueves'">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#90caf9;">
                <div class="modal-header">
                    <h2>Jueves</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let item of listaAgenda">
                        <div *ngIf="item.day === 4" style="display: flex; width: 80%; margin: 0 10%; height: auto;
                            padding: 5px 10px; background: #90caf9;">
                            <div style="width: 50%;">
                                <b>{{item.nombrePicto}}</b>
                                <p>{{item.start.substring(0,5)}}</p>
                            </div>
                            <img class="img-fluid" style="max-width: 100px; height: auto;" src={{item.urlPicto}} alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Viernes -->
    <div class="modal fade" tabindex="-1" id="modal5" *ngIf="day == 'Viernes'">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#90caf9;">
                <div class="modal-header">
                    <h2>Viernes</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let item of listaAgenda">
                        <div *ngIf="item.day === 5" style="display: flex; width: 80%; margin: 0 10%; height: auto;
                            padding: 5px 10px; background: #90caf9;">
                            <div style="width: 50%;">
                                <b>{{item.nombrePicto}}</b>
                                <p>{{item.start.substring(0,5)}}</p>
                            </div>
                            <img class="img-fluid" style="max-width: 100px; height: auto;" src={{item.urlPicto}} alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sabado -->
    <div class="modal fade" tabindex="-1" id="modal6" *ngIf="day == 'Sabado'">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#90caf9;">
                <div class="modal-header">
                    <h2>Sábado</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let item of listaAgenda">
                        <div *ngIf="item.day === 6" style="display: flex; width: 80%; margin: 0 10%; height: auto;
                            padding: 5px 10px; background: #90caf9;">
                            <div style="width: 50%;">
                                <b>{{item.nombrePicto}}</b>
                                <p>{{item.start.substring(0,5)}}</p>
                            </div>
                            <img class="img-fluid" style="max-width: 100px; height: auto;" src={{item.urlPicto}} alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Domingo -->
    <div class="modal fade" tabindex="-1" id="modal7" *ngIf="day == 'Domingo'">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#90caf9;">
                <div class="modal-header">
                    <h2>Domingo</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let item of listaAgenda">
                        <div *ngIf="item.day === 7" style="display: flex; width: 80%; margin: 0 10%; height: auto;
                            padding: 5px 10px; background: #90caf9;">
                            <div style="width: 50%;">
                                <b>{{item.nombrePicto}}</b>
                                <p>{{item.start.substring(0,5)}}</p>
                            </div>
                            <img class="img-fluid" style="max-width: 100px; height: auto;" src={{item.urlPicto}} alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="nologeado" >
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:white;">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h1>
                        Para ocupar las funcionalidades de la agenda, inicie sesion <a data-dismiss="modal" routerLink="/Login" class="text-success">aquí</a>.
                    </h1>
                    <h1>
                        Si no posee alguna cuenta, registrese <a data-dismiss="modal" routerLink="/Register" class="text-success">aquí</a>.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>