<!-- <div class="digitalClock">
    <div class="dayTitle">
        Hoy es {{day}}
    </div>
    <div class="digitalTime">
        <div>{{hour}} : </div>
        <div>{{minute}} : </div>
        <div>{{second}} </div>
        <div class="ampm">-{{ampm}}</div>
    </div>
</div> -->
<div class="contenedor">
    <div id="lunes">L</div>
    <div id="martes">M</div>
    <div id="miercoles">X</div>
    <div id="jueves">J</div>
    <div id="viernes">V</div>
    <div id="sabado">S</div>
    <div id="domingo">D</div>
</div>