.digitalClock{
    display: inline-block;
    font-size: 100%;
    color: #fff;
    text-transform: uppercase;
}

.dayTitle{
    font-size: 100%;
}

.digitalTime{
    display: flex;
}

.ampm{
    font-size: 100%;
}