.selector{
    width: auto;
    padding: 5%;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.selector-grid{
  
  border-radius: 4px;
}

.example-box{
  padding-top: 5px;
  width: 200px;
  height: 200px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  align-items: center;
  text-align: center;
  background:white;
  border-radius: 10%;
  margin-bottom: 10%;
}

.example-box:hover{
  background:linear-gradient(#26135a,#3a1e70,#6f4ac5);
  color: white;
}

.example-box:active{
  background:linear-gradient(#26135a,#3a1e70,#6f4ac5);
  color: white;
}

.imagen{
  width: 70%;
  height: 70%;
}