<div class="ruta">
    <div class="selector-ruta">
        <img src="../../../assets/icons/casa.png" 
             class="inicio"
            (click)="inicio()">
        <div *ngFor="let ruta of arregloDireccion" (click)="volver(ruta)" class="caja-ruta">
            <img src={{ruta.url}} class="imagen-ruta">
            <p class="ruta_nombre">{{ruta.nombre}}</p>
        </div> 
    </div>
</div>


<div class="display">
    <div *ngIf="[arregloDireccion.length] == 0" class="selector" style="background: #c62828 ; margin-top: 10px;">
        <div *ngFor="let i of lista"  class="example-box" (click)="escogerGrupo(i)">
            <img src={{i.url}} class="imagen">
            <p class="selector_ruta_nombre" >{{i.nombre}}</p>
        </div>
    </div>
    <div *ngIf="([arregloDireccion.length] == 1)">
    <div *ngIf="(datosCargados); else elseBlock"  class="selector"  style="background: #ffeb3b; margin-top: 10px;">
        <div id="categoria">
        </div>
        
        <div *ngFor="let i of lista3"   (click)="escogerCategoria(i)" >
            <div *ngIf="i.idGrupo ==[categoriaid]; else personalizada" class="example-box">
                <img src={{i.url}} class="imagen">
                <p class="selector_ruta_nombre" >{{i.nombre}}</p>
            </div>
            <ng-template #personalizada>
                <div class="example-box">
                    <img src={{i.url}} class="imagen">
                    <p class="selector_ruta_nombre" >{{i.nombre}}</p>
                </div>
            </ng-template>
            
        </div>
    </div>
    <ng-template #elseBlock>
        <div *ngIf="([personalizada] == 1); else else2"  class="selector"  style="background: #ffeb3b; margin-top: 10px;">
            <h1 class="mb-0">Aún no ha cargado usuario, para hacerlo acceder a <a routerLink="/Perfil" class="text-success">Perfil</a>.
            </h1>
        </div>
        <ng-template #else2>
            <div class="selector"  style="background: #ffeb3b; margin-top: 10px;">
                <div *ngFor="let i of lista3"   (click)="escogerCategoria(i)" >
                    <div *ngIf="i.idGrupo ==[categoriaid]; else personalizada" class="example-box">
                        <img src={{i.url}} class="imagen">
                        <p class="selector_ruta_nombre" >{{i.nombre}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-template>
    </div>
    <div *ngIf="[arregloDireccion.length] == 2" 
    class="selector" 
    dragOverClass="drop-over-active" style="background: #e65100; margin-top: 10px;">
        <div id="pictograma">
            
        </div>
        <div *ngFor="let item of listaPicto" 
        class="example-box-picto"
        mwlDraggable
        (dragEnd)="dragEnd($event, item)"
        [dropData]=item>
            <img class="imagen" src={{item.url}} >
            <br>
            <p class="selector_ruta_nombre" >{{item.nombre}}</p>
        </div>
    </div>

    
</div>



<!-- (click)="escogerPicto(item)"  -->
