<div style="background-color: white;
    height: 100%;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/Tablero">Pictogram Tab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Perfil">Perfil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Frases">Frases <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Agenda">Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/Tablero" class="nav-link" (click)="onLogOut()">Cerrar Sesión <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="calendar-container">
        <full-calendar 
        class="calendar" 
        [options]="this.calendarOptions"
        id="calendar"
        > 

        </full-calendar>
    </div>
    <div class="modal fade" tabindex="-1" id="modal">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="background-color:#e0e0e0;">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- Nombre Evento -->
                    <form class="margin-bottom-0" [formGroup]="formulario" *ngIf="formulario">
                        <label class="control-label">Título de la Tarea </label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="text" 
                                    formControlName="nombreEvento" 
                                    class="form-control" 
                                    placeholder="Titulo" 
                                    [(ngModel)]="nombreEvento"
                                    required 
                                    />
                            </div>
                        </div>
                    
                        <!-- Pictograma -->
                    
                        <label for="Pictograma">Pictograma Seleccionado: </label>
                        <input [value]="nombrePicto" 
                            id="Name" 
                            name="Name" 
                            formControlName="nombrePicto" 
                            [(ngModel)]="nombrePicto"
                            required 
                            class="form-control"
                            disabled/>
                    </form>
                    <br>
                    <div class="contenedor">
                        <div *ngFor="let pict of listaPicto" >
                            <div class="pictograma" 
                            (click)="seleccionarPicto(pict)"
                            >
                                <img src={{pict.url}} alt="" class="example-box" style="height: 60px;width: 60px;">
                                <p class="nombre_pictograma" style="font-size: 9px;">{{pict.nombre}}</p>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal"
                        type="submit"
                        [disabled]="!formulario.valid"
                        (click)="setearDatos()">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>

