.nave{
    display: flex;

}

.reloj{
    margin-right: 10px;
}

.algo{
    display: flex;
    justify-content: space-between;
    background: #1b5e20;
    padding: 10px;
    height: 120px;
}
