<div style="background-color: white;
    height: 100%;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/Tablero">Pictogram Tab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Perfil">Perfil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Frases">Frases <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/Agenda">Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/Tablero" class="nav-link" (click)="onLogOut()">Cerrar Sesión <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top: 5px;" >
        <h1>Historial de Frases</h1>
        <div class="accordion" id="accordionExample{{indice}}" *ngFor="let item of listaFrase;let indice=index" style="margin-bottom: 10px;">
            <div class="card">
                <div class="card-header" id="headingOne" style="background-color: #90caf9; color: white;">
                    <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" 
                    type="button" data-toggle="collapse" 
                    attr.data-target="#collapseOne{{indice}}" aria-expanded="true" 
                    attr.aria-controls="collapseOne{{indice}}"
                    style="color: black;">
                        Frase {{indice+1}}
                    </button>
                    </h2>
                </div>
    
                <div id="collapseOne{{indice}}" class="collapse" aria-labelledby="headingOne" attr.data-parent="#accordionExample{{indice}}">
                    <div class="card-body" style="background-color: #bbdefb;">
                        <div class="row" style="align-items: center;
                            display: flex;
                            justify-content: center;">
                            <h3><b>Frecuencia de uso de la frase:</b> {{item.frecuencia}}</h3>
                            <div class="pizarra" >
                                <div *ngFor="let pict of item.listaPicto">
                                    <div class="pictograma" >
                                        <img src={{pict.url}} alt="{{pict.nombre}}" class="example-box">
                                        <p class="nombre_pictograma">{{pict.nombre}}</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

