
.menu{
    display: flex;
    padding-left: 5px;
}

button{
    display: grid;
    margin-bottom : 5px;
    border : 2px solid black;
    display: grid;
    grid-template-columns :  85% 15% ;
    font-size :  medium;
    text-align: left;
    border-radius: 5%;
    background:linear-gradient(#055a09,#34b350,#56ec6a);
}

button:hover{
    background:linear-gradient(#32b338,#56e074,#8ee79a);
}

button:any-link{
    background:linear-gradient(#012703,#084916,#1a5c22);
}